<section class="post">
  <span class="post__voltar">
    <a [routerLink]="''">⇦ Voltar</a>
  </span>
  <h2 class="post__heading">Lorem ipsum</h2>
  <div class="post__content">
    <img
      class="post__content__imagem"
      src="../../../assets/angular_img1.png"
      alt=""
    />
    <p class="post__content__paragrafo">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quasi
      alias similique omnis ab voluptas, exercitationem accusantium cum
      praesentium a vero laborum cumque reiciendis? Nemo fuga delectus quisquam
      non natus. Nesciunt accusantium aperiam quas ad quisquam reiciendis
      tempora quod nemo, vero iste quos vel eligendi incidunt corporis commodi
      inventore aliquam perferendis alias, veniam error, cupiditate iure animi
      molestias perspiciatis? Neque.
    </p>
    <h3 class="post__content__subtitle">Lorem ipsum</h3>
    <p class="post__content__paragrafo">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, quam
      laboriosam. Ullam expedita ut sunt amet incidunt! Cupiditate error sit ex,
      sed maxime autem debitis accusantium qui officia, ipsam ea. Hic assumenda
      reiciendis asperiores animi enim sapiente libero facere error architecto.
      Consequatur fugit reprehenderit quam ipsa distinctio. Animi voluptate hic
      in culpa nihil beatae minima, adipisci itaque quasi eos laudantium. Ea
      nobis nemo vitae deserunt tenetur neque, repellendus veniam commodi optio
      aliquid reprehenderit accusamus adipisci repellat aut voluptas amet
      aperiam ducimus perspiciatis corporis voluptatum enim consequuntur! Enim
      qui similique asperiores.
    </p>
    <p class="post__content__paragrafo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque ab
      cupiditate laborum iste iusto nobis quae facere, ipsa rem eius harum
      voluptatum, possimus consectetur vero fuga? Ipsam, tempore dolorum?
    </p>
  </div>
</section>
