<section class="about">
  <h2 class="about__heading">Sobre mim</h2>
  <div class="about__content">
    <div class="about__content__imagem">
      <img src="../../../assets/Foto.png" alt="Foto do José" srcset="" />
    </div>
    <p class="about__content__paragrafo">
      Olá, mundo! Me chamo José, sou desenvolvedor Frontend
      <span>ou pelo menos tentando tentando ser</span> React e Angular. Tenho
      habilidades no backend atuando com Javascript e pegando um pouco de
      conhecimento em Java, o foco é ser multstack mesmo. Gosto de me considerar
      um dev fullstack MERN, já desenvolvi muitos projetos nesse framework e é
      algo que gosto bastante.
    </p>
    <p class="about__content__paragrafo">
      Esse projeto em especial desenvolvi enquanto aprendia Angular e estou bem
      satisfeito com o resultado. Há muitas coisas que queria ter feito, mas
      devido ao tempo que destinei a esse desenvolvimento acabei deixando de
      fora. Mas em geral o objetivo foi atingido.
    </p>
    <p class="about__content__paragrafo">
      Gostou do meu trabalho? Me faça uma indicação em sua empresa. É um
      recutrador? Estou disponível. Quer ajudar o dev a alimentar seus gatos?
      Aceito pix rsrs brincadeira <span>porém se quiser estou aceitando</span>.
    </p>
  </div>
</section>
