@media screen and (min-width: 600px) {
  .cards {
    &__container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 1000px;
  }

  .cards {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
