$color-theme: #fffcf2;
$color-font: #252422;
$color-font-sec: #ccc5b9;
$color-hover: #403d39;
$color-decoration: #eb5e28;

$font-primary: "Montserrat", sans-serif;
$font-alternate: "Roboto", sans-serif;
